# PANDA II : Carga y guardado de datos

In [2]:
import pandas as pd
import numpy as np
import pickle

### 1. Id cargando todos los ficheros en vuestro jupyter.

In [11]:
# Cuando son archivos dónde encontramos acentos y demás, en este caso, en español, debemos pedirle que nos lea el archivo con el code "latin-1":

df_csv = pd.read_csv("datos/quejas.csv", encoding = 'latin-1', sep = ";")
df_csv.head()

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
2,Queja,Recepcionada por Unidad,INTERNET,2022-03-23 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
3,Queja,Recepcionada por Unidad,INTERNET,2022-01-24 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
4,Queja,Recepcionada por Unidad,INTERNET,2022-03-29 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

In [12]:
df_json = pd.read_json("datos/quejas.json")
df_json.head()

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1  {'unidad_descripcion': 'D.G. de Descarbonizaci...
2  {'unidad_descripcion': 'D.G. de Descarbonizaci...
3  {'unidad_descripcion': 'D.G. de Descarbonizaci...
4  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [13]:
df_json2 = df_json['data'].apply(pd.Series)
df_json2.head()

,unidad_descripcion,tipo,estado,tema,consejeria,fecha_contestacion,canal_entrada,fecha_entrada,subtema
0,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-01-28 00:00:00,N/A
1,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-28 00:00:00,N/A
2,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-23 00:00:00,N/A
3,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-01-24 00:00:00,N/A
4,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-29 00:00:00,N/A

In [14]:
df_xlsx = pd.read_excel("datos/quejas2.xlsx")
df_xlsx.head()

        DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2  ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3  ATENCIÓN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4  ATENCIÓN AL CIUDADANO                                              OTROS

In [15]:
pd.read_pickle("datos/algas.pickle").head()

,Unnamed: 0,lon,lat,locality,year,month,kingdom,class,family,genus,species,new,state,country,fecha,day,number_ind
0,22,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,4
1,23,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,3
2,24,-70.7167,43.0750,New Castle,1900,5.0,Plantae,Florideophyceae,Palmariaceae,Palmaria,Palmaria palmata,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,9
3,33,-158.1170,21.5833,Haleiwa,1900,6.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"21.5833,-158.117",Hawaii,United States,1900-06-01,1,7
4,35,-7.0000,62.1800,Hvalvík,1900,6.0,Chromista,Phaeophyceae,Alariaceae,Alaria,Alaria esculenta,"62.18,-7.0",Streymoyar sýsla,Føroyar,1900-06-01,1,4

### 2. Para poner en práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y usad dicho método para traer los datos al jupyter notebook. Una vez que los hayáis cargado, guardad esos datos en los siguientes formatos:

- csv
- excel
- json
- pickle

In [16]:
df_clipboard = pd.read_clipboard()
df_clipboard.head()

  14.012,00       9,0       9,5      10,0      10,5      11,0      11,5
0     25,0%  21.013,3  19.907,4  18.912,0  18.011,4  17.192,7  16.445,2
1     26,0%  19.924,4  18.875,8  17.932,0  17.078,1  16.301,8  15.593,0
2     27,0%  18.835,6  17.844,2  16.952,0  16.144,8  15.410,9  14.740,9
3     28,0%  17.746,7  16.812,6  15.972,0  15.211,4  14.520,0  13.888,7
4     29,0%  16.657,8  15.781,1  14.992,0  14.278,1  13.629,1  13.036,5

In [17]:
df_clipboard.to_csv("datos/clip.csv")

In [19]:
df_clipboard.to_excel("datos/clip.xlsx")

In [20]:
df_clipboard.to_json("datos/clip.json")

In [21]:
df_clipboard.to_pickle("datos/clip.pickle")